@charset "UTF-8";

:root {
  --red: #ef5753;
  --white: #ffffff;
  --black: #0e0b0b;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

body {
  background-color: var(--red);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--white);
}

section {
  background-color: var(--white);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

button {
  background-color: var(--red);
  font-size: 18px;
  color: var(--white);
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: opacity(0.9);
}

.produtos {
  height: 300px;
  overflow-y: scroll;
}

.produtos ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.produto-cartao {
  height: max-content;
  text-transform: uppercase;
  width: 170px;
  padding: 10px;
  list-style: none;
}

.box-img {
  height: 170px;
  width: 170px;
}

.produto-img {
  border-radius: 10px;
  width: 100%;
  height: 75%;
}

.produto-nome {
  font-size: 0.6rem;
}

.produto-preco {
  font-size: 1rem;
  color: var(--red);
  font-weight: bold;
  margin-bottom: 2px;
}

.produto-labels {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add-produto {
  width: 40px;
  font-weight: bold;
  font-size: 0.8rem;
}

.coupon-container {
  width: 80vw;
  margin-left: 10vw;
}

.cart-container h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.cart-container {
  margin-left: 10vw;
  width: 80vw;
  border-radius: 15px;
  background-color: var(--white);
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-ul-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cart {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-y: scroll;
  max-height: 100px;
}

.btn-purchase {
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 15px;
  align-items: flex-end;
  cursor: pointer;
}

#total-purchase {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: overline;
  color: var(--white);
}